* {
    background-color: #0f172a;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#gallery-section .title {
    padding: 10px 0 10px;
    color: #38bdf8;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}

#gallery-section .gallery-list .gallery-item {
    width: calc(33% - 32px);
}

#gallery-section .gallery-list .gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#card-section {
    justify-content: center;
    flex-wrap: nowrap;
}

#card-section .title {
    padding: 10px 0 10px;
    color: #38bdf8;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}

#card-section .gallery-list .gallery-item {
    width: calc(33% - 32px);
}

#card-section .gallery-list .gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 4;
}

#card-section .gallery-list .gallery-item .encabezado {
    color: #38bdf8;
    text-align: center;
}

#card-section .gallery-list .gallery-item .texto {
    color: #cbd5e1;
    text-align: justify;
}

#card-section .gallery-list .gallery-item .boton button {
    color: #ffffff;
    background-color: #3b82f6;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;


}

#card-section .gallery-list .gallery-item .boton {
    text-align: center;

}

#card-section .gallery-list .gallery-item .boton button:hover {
    color: #3b82f6;
    background-color: #1e293b;
}