* {
    margin: 0;
    padding: 0;
}

/*menu*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #0f172a;
    padding: 15px;
    align-items: center;
}

nav h1 {
    padding-left: 15px;
    color: #38bdf8;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    flex-direction: row;
}

.nav-list a {
    text-decoration: none;
    color: #94a3b8;
    font-size: large;
    font-weight: bold;
}

.nav-list a:hover {
    color: #38bdf8;
}