* {
    background-color: #1c1917;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#card-section {
    justify-content: center;
    flex-wrap: nowrap;
}

#card-section .title {
    padding: 10px 0 10px;
    color: #d97706;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}

#card-section .gallery-list .gallery-item {
    width: calc(33% - 32px);
}

#card-section .gallery-list .gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 4;
}

#card-section .gallery-list .gallery-item .encabezado {
    color: #d97706;
    text-align: center;
}

#card-section .gallery-list .gallery-item .texto {
    color: #e7e5e4;
    text-align: justify;
}

#card-section .gallery-list .gallery-item .boton button {
    color: #1c1917;
    background-color: #d97706;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;


}

#card-section .gallery-list .gallery-item .boton {
    text-align: center;

}

#card-section .gallery-list .gallery-item .boton button:hover {
    color: #d97706;
    background-color: #44403c;
}